/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.menu-icons a {
  text-decoration: none;
  color: inherit;
  margin-left: 20px;
}

.menu-icons a:hover {
  color: #007bff; /* Change icon color on hover */
}

/* Navigation Bar */
.nav-bar {
  background-color: #007bff;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar .logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-bar .menu-icons i {
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.back-button {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 16px;
  color: #007bff;
}

.back-button:hover {
  text-decoration: underline;
}
